.CFUserTextEncoding
.subversion/auth
.*.tmp
.*.un~
.DS_Store
.inkscape-etc
.config
.Xauthority
.bash_aliases
.bash_history
.cisco
.cshrc
.cups/
.gem/
.cvspass
.designer/
.dvdcss/
.erlang.cookie
.fontconfig/
.gdb_history
.gitconfig
.gnuplot_history
.ivy2/
.lesshst
.moneydance/
.nx/
.python-eggs/
.qt/
.rnd
.serverauth.*
.ssh/
.tcsh_history
.vim/.netrwhist
.viminfo
.yaws/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
corelibs/
.Trash
.vim/doc/tags
.vim/syntax/todolist.vim
.*.swp
bin/gxt
bin/vm
.bash_profile_local
.dropbox
Dropbox
bin/edit_worklog.sh
.pip
.vim/plugin/vitunes.vim
bin/edit_worklog
bin/now_playing
.tmux.conf.local
.gss
bin/vncrmt
.subversion/README.txt
.subversion/servers
.vim/Powerline_default_default_compatible.cache
.anyconnect
.CF89AA64
.nchsoftware/switch.xml
bin/jq
