.CFUserTextEncoding
.*.un~
.DS_Store
.Xauthority
.bash_aliases
.bash_history
.cshrc
.cups/
.cvspass
.designer/
.dvdcss/
.erlang.cookie
.fontconfig/
.gdb_history
.gitconfig
.gnuplot_history
.ivy2/
.lesshst
.moneydance/
.nx/
.python-eggs/
.qt/
.rnd
.serverauth.*
.ssh/
.subversion/
.tcsh_history
.vim/.netrwhist
.viminfo
.yaws/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
corelibs/
.Trash
.vim/doc/tags
.vim/syntax/todolist.vim
.*.swp
bin/gxt
bin/vm