.CFUserTextEncoding
.*.un~
.DS_Store
.Xauthority
.aliases
.bash_aliases
.bash_history
.cshrc
.cups/
.cvspass
.designer/
.dvdcss/
.erlang.cookie
.fontconfig/
.gdb_history
.gitconfig
.gnuplot_history
.gvimrc
.ivy2/
.lesshst
.moneydance/
.nx/
.python-eggs/
.qt/
.rnd
.screenrc
.serverauth.12172
.serverauth.16908
.serverauth.187
.serverauth.188
.serverauth.189
.serverauth.191
.serverauth.193
.serverauth.195
.serverauth.197
.serverauth.202
.serverauth.203
.serverauth.205
.serverauth.210
.serverauth.212
.serverauth.214
.serverauth.215
.serverauth.217
.serverauth.219
.serverauth.220
.serverauth.221
.serverauth.229
.serverauth.2319
.serverauth.232
.serverauth.23416
.serverauth.235
.serverauth.236
.serverauth.238
.serverauth.240
.serverauth.254
.serverauth.36494
.serverauth.42755
.serverauth.43681
.serverauth.4427
.serverauth.49678
.serverauth.497
.serverauth.8591
.serverauth.9078
.ssh/
.subversion/
.tcsh_history
.vim/.netrwhist
.viminfo
.yaws/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
corelibs/
.Trash
